@model Website.Models.Form.CheckoutFormModel
@{
    ViewData["Title"] = "Buy me a beer";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Purchase" asp-action="RedirectToStripe">
    @if (@Model.ProductPrice == null)
    {
        <p>You are buying "@Model.ProductDescription" for a custom price.</p>
        <label asp-for="ProductPrice"></label>
        <input class="form-control mb-2" asp-for="ProductPrice" placeholder="Price in €" />
    }
    else
    {
        <p>You are buying "@Model.ProductDescription" for €@Model.ProductPrice.</p>
        <input asp-for="ProductPrice" type="hidden" value="@Model.ProductPrice" />
    }

    <p>After payment you may leave an optional message to enlighten future generations.</p>

    <input asp-for="ProductId" type="hidden" value="@Model.ProductId" />
    <button class="btn btn-primary">Proceed to Stripe checkout!</button>
</form>
