@model Website.Models.Form.HomeFormModel
@{
    ViewData["Title"] = "Home Page";
}

<h3 class="my-3">Beer choice</h3>
<div class="row">
    @{
        // Note: this layout assumes 3 beer products
        foreach (var beerProduct in Model.BeerProducts)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@beerProduct.Description</h5>
                        @if (beerProduct.Price == null)
                        {
                            <p class="card-text">You choose the price.</p>
                        }
                        else
                        {
                            <p class="card-text">Price: €@beerProduct.Price.</p>
                        }
                        <form asp-controller="Purchase" asp-action="Checkout">
                            <input asp-for="BeerProductId" value="@beerProduct.Id" type="hidden" />
                            <button class="btn btn-primary">Buy me this beer!</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div>
    <h3 class="my-3">People who bought me a beer left the following messages</h3>
    @{
        foreach (var comment in Model.Comments)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">@(comment.Nickname ?? "Anonymous")</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@comment.CreatedUtc (€@(comment.Payment.Amount / 100).@(comment.Payment.Amount % 100))</h6>
                    <p class="card-text">@comment.Message</p>
                </div>
            </div>
        }
    }
</div>
